#mainDisplay {
  pointer-events: none;
}

#instructions {
  margin: auto;
  text-align: center;
  align-content: center;
  word-wrap: break-word;
  width: 750px;
}

#betweenPatterns {
  margin: auto;
  text-align: center;
  align-content: center;
}

#endDisplay {
  margin: auto;
  text-align: center;
  align-content: center;
}

#checkboxNotice {
  display: none;
  color: red;
}

.canvasWithSequencer {
  display:grid;
}

.c {
  width: 458.667px;
  height: 344px;
  margin: auto;
  grid-row: 1;
  grid-column: 1;
  pointer-events: auto;
}

.sequencer {
  border-radius: 5px;
  width: fit-content;
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: fit-content;
  margin: auto;
}

.markerSpace {
  border-radius: 5px;
  width: fit-content;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: fit-content;
  margin: auto;
  margin-top: 1em;
}

.note {
  border-radius: 5px;
  height: 4em;
  width: 4em;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin: 2px;
  outline: none;
  pointer-events: auto;
}

.marker {
  border-radius: 5px;
  height: 4em;
  width: 4em;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin: 2px;
  outline: none;
}

.marker-is-active {
  border-radius: 5px;
  height: 4em;
  width: 4em;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin: 2px;
  outline: none;
  background-color: blue;
  border: 1px solid black;
}

.sequencer-row {
  display: inline-block;
  white-space: nowrap;
}

.marker-row {
  display: inline-block;
  white-space: nowrap;
}

.note-is-active {
  background-color: green;
  border: 1px solid black;
}

.note-not-active {
  background-color: solid grey;
}

.note-is-playing {
  background-color: blue;
  border: 1px solid black;
}

.note-is-active.note-not-playing {
  background-color: green;
  border: 1px solid black;
}

.note-not-active.note-not-playing {
  background-color: solid grey;
}

.button-space {
  display: flex;
}

.submit-button-space {
  display: flex;
  padding-top: 8px;
}

.button {
  margin: auto;
  pointer-events: auto;
}

.infoText {
  text-align: center;
}